// COLORS
$primary-color-light: #2998ff;
$primary-color-dark: #5643ff;
$color-grey-1:#4e4e4e;
$color-grey-2:#f7f7f7;
$color-white:#fff;
$color-black:#000;
// GRID
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;
// FONT
$default-font-size:1.6rem;