.footer {
    background-color: $color-grey-3;
    padding: 5rem 0;
    font-size: 1.4rem;
    color: $color-grey-1;
    &-logo-box {
        text-align: center;
        font-size: 10rem;
    }
    &-navigation {
        padding-top: 2rem;
        display: inline-block;
    }
    &-list {
        list-style: none;
    }
    &-item {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 3rem;
        }
    }
    &-link {
        &:link,
        &:visited {
            color: $color-grey-1;
            background-color: $color-grey-3;
            padding: 3px;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }
        &:hover,
        &:active {
            color: $primary-color-dark;
            box-shadow: 0 1rem 2rem rgba($color-black, .2);
            transform: scale(1.1);
        }
    }
    &-copyright {
        border-top: .1rem solid $color-grey-1;
        margin-top: 2.5rem;
        padding-top: 2rem;
        display: inline-block;
        width: 100%;
    }
}